/gen.bash
*.mkv
*.jpg
*.png
/Downloads
/go
/Documents
/Desktop
*.log
/Public
/backup
/.minecraft
/.local
/.config/prism
/.config.bak
/.config/unity3s
/.config/What*
/.config/session
/.config/playit_gg
/.config/chromium
/dotfiles-minecraft-style
/.cache
/.gnupg
/.fabric
/.cargo
/.java
/.mozilla
/.openjfx
/.pki
/.steam
/.e4mc_cache
/.steampath
/.steampid
/.wine
/.var
/yay-bin
/WIP
/logs
